from flopy.discretization.structuredgrid import StructuredGrid

{% include "package.py.jinja" %}
    {# ASSUMPTION: nlay, nrow, and ncol exist in the dfn. #}
    @property
    def nnodes(self) -> int:
        return self.nlay * self.nrow * self.ncol

    def to_grid(self) -> StructuredGrid:
        """
        Convert the discretization to a `StructuredGrid`.

        Returns
        -------
        StructuredGrid
            A `StructuredGrid` with the same dimensions and data as the `{{dfn.name|class_name}}`.
        """
        return StructuredGrid(
            nlay=self.nlay,
            nrow=self.nrow,
            ncol=self.ncol,
            delr=self.delr,
            delc=self.delc,
            top=self.top,
            botm=self.botm,
            idomain=self.idomain,
        )

    @staticmethod
    def from_grid(grid: StructuredGrid) -> "{{dfn.name|class_name}}":
        """
        Create a discretization from a `StructuredGrid`.

        Parameters
        ----------
        grid : StructuredGrid
            A structured grid.

        Returns
        -------
        {{dfn.name|class_name}}
            A discretization with the same dimensions and data as the grid.
        """
        return {{dfn.name|class_name}}(
            nlay=grid.nlay,
            nrow=grid.nrow,
            ncol=grid.ncol,
            delr=grid.delr,
            delc=grid.delc,
            top=grid.top,
            botm=grid.botm,
            idomain=grid.idomain,
        )
