{% macro docstrings(var) %}
{{ var.name|safe_name }} : {{ var|type_docstr }}
{% if var.description is defined and var.description is not none %}
    {{ var.description|clean|math|wordwrap|indent(4) }}
{% endif %}
{%- endmacro %}

{% macro xattree_field(attr, dfn, block=None, converter=None) %}
{%- if attr.block  == "dimensions" and dfn is dis_or_tdis_package %}
dim(
    {{- metadata(attr, block=block) }}
    {{- scope_in_field(dfn)}}
    {{- default_in_field(attr) }}
)
{%- elif "shape" in attr %}
array(
    {{- metadata(attr, block=block) }}
    {{- default_in_field(attr) }}
    {{- dims_in_field(attr) }}
    {{- converter_in_field(attr, "dict_to_array") }}
    {{- on_setattr_in_field(attr) }}
    {{- reader_in_field(attr) }}
)
{%- else %}
field(
    {{- metadata(attr, block=block) }}
    {{- default_in_field(attr) }}
    {{- converter_in_field(attr, converter) }}
    {{- init_in_field(attr) }}
)
{%- endif %}
{%- endmacro %}

{% macro scope_in_field(dfn) %}
, scope="{{ dfn.parent }}"
{%- endmacro %}

{% macro reader_in_field(attr) %}
, reader="{{ attr.reader }}"
{%- endmacro %}

{% macro on_setattr_in_field(attr) %}
{% if attr.block == "period" %}, on_setattr=update_maxbound{% endif %}
{%- endmacro %}

{% macro metadata(attr, block=None) %}
{% set block = block or attr.block %}
block="{{ block }}"
{%- endmacro %}

{% macro default_in_field(attr) %}
{% if attr.default %}
, default = {{ attr.default }}
{%- elif attr.optional %}
, default=None
{%- endif %}
{%- endmacro %}

{% macro init_in_field(attr) %}
{% if attr.block == "dimensions" %}, init=False{% endif %}
{%- endmacro %}

{% macro dims_in_field(attr) %}
{% set trimmed_shape_str = attr.shape[1:-1] %}
{% set dims = trimmed_shape_str.split(",") %}
, dims=({% for dim in dims %}"{{dim|trim}}",{% endfor %})
{%- endmacro %}

{% macro converter_in_field(attr, func_name) %}
{% if func_name %}
, converter=Converter({{func_name}}, takes_self=True, takes_field=True)
{%- endif %}
{%- endmacro %}

{% macro child_type(attr) %}
{% if attr.multi %}
list[{{ attr.name | class_name }}]
{%- else %}
{{ attr.name | class_name }} | None
{%- endif %}
{%- endmacro %}
