{% macro docstrings(var) %}
{{ var.name|safe_name }} : {{ var|type_docstr }}
{% if var.description is defined and var.description is not none %}
    {{ var.description|clean|math|wordwrap|indent(4) }}
{% endif %}
{%- endmacro %}

{% macro xattree_field(attr, dfn) %}
{% if "shape" in attr %}
array(
    {{- metadata(attr) }}
    {{- default_in_field(attr) }}
    {{- dims_in_field(attr) }}
    {{- converter_in_field(attr) }}
    {{- on_setattr_in_field(attr) }}
    {{- reader_in_field(attr) }}
)
{%- elif attr["block"]  == "dimensions" and dfn|is_dis_or_tdis %}
dim(
    {{- metadata(attr) }}
    {{- scope_in_field(dfn)}}
    {{- default_in_field(attr) }}
)
{%- else %}
field(
    {{- metadata(attr) }}
    {{- default_in_field(attr) }}
    {{- init_in_field(attr) }}
)
{%- endif %}
{%- endmacro %}

{% macro scope_in_field(dfn) %}
, scope="{{ dfn.parent }}"
{%- endmacro %}

{% macro reader_in_field(attr) %}
, reader="{{ attr.reader }}"
{%- endmacro %}

{% macro on_setattr_in_field(attr) %}
{% if attr.block == "period" %}, on_setattr=update_maxbound{% endif %}
{%- endmacro %}

{% macro metadata(attr) %}
block="{{ attr.block }}"
{%- endmacro %}

{% macro default_in_field(attr) %}
{% if attr.default %}
, default = {{ attr.default }}
{%- elif attr.optional %}
, default=None
{%- endif %}
{%- endmacro %}

{% macro init_in_field(attr) %}
{% if attr.block == "dimensions" %}, init=False{% endif %}
{%- endmacro %}

{% macro dims_in_field(attr) %}
{% set trimmed_shape_str = attr.shape[1:-1] %}
{% set dims = trimmed_shape_str.split(",") %}
, dims=({% for dim in dims %}"{{dim|trim}}",{% endfor %})
{%- endmacro %}

{% macro converter_in_field(attr) %}
, converter=Converter(dict_to_array, takes_self=True, takes_field=True)
{%- endmacro %}
