from flopy.discretization.modeltime import ModelTime
{% include "package.py.jinja" %}

    def to_time(self) -> ModelTime:
        """Convert to a `ModelTime` object."""
        return ModelTime(
            nper=self.nper,
            time_units=self.time_units,
            start_date_time=self.start_date_time,
            perlen=self.perlen,
            nstp=self.nstp,
            tsmult=self.tsmult,
        )

    @staticmethod
    def from_time(time: ModelTime) -> "{{dfn.name|class_name}}":
        """Create a time discretization from a `ModelTime`."""
        return cls(
            nper=time.nper,
            time_units=time.time_units,
            start_date_time=time.start_datetime,
            perlen=time.perlen,
            nstp=time.nstp,
            tsmult=time.tsmult,
        )
