build/
docs/examples/frenchman-flat/*
docs/examples/quickstart/*
docs/examples/twri/*
venv/
.DS_Store
.ruff_cache
*.egg-info
**/__pycache__/
.pixi
*.egg-info
temp/
.coverage
flopy4/mf6/codec/reader/grammar/generated/*.lark
mf6examples.zip.lock
