build/
docs/examples/circle/*
docs/examples/frenchman-flat/*
docs/examples/quickstart/*
docs/examples/twri/*
venv/
.DS_Store
.ruff_cache
*.egg-info
**/__pycache__/
.pixi
*.egg-info
temp/
.coverage
mf6examples.zip.lock
