{% set inset = "  " %}

{% macro field(name, value) %}
{% set format = value|field_format %}
{% if format in ['keyword', 'integer', 'double precision', 'string'] %}
{{ scalar(name, value) }}
{% elif format == 'record' %}
{{ record(name, value) }}
{% elif format == 'keystring' %}
{{ keystring(name, value) }}
{% elif format == 'array' %}
{{ array(name, value, how=value|array_how) }}
{% elif format == 'list' %}
{{ list(name, value) }}
{% endif %}
{% endmacro %}

{% macro scalar(name, value) %}
{% set format = value|field_format %}
{% if value is not none %}{{ inset ~ name.upper() }}{% if format != 'keyword' %} {{ value }}{% endif %}{% endif %}
{% endmacro %}

{% macro keystring(name, value) %}
{% for option in (value|data2keystring) -%}
{{ record("", option) }}
{% endfor %}
{% endmacro %}

{% macro record(name, value) %}
{%- if value is mapping %}
{% for field_name, field_value in value.items() -%}
{{ field_name.upper() }} {{ field(field_value) }}
{%- endfor %}
{% else %}
{{ inset ~ value|join(" ") }}
{%- endif %}
{% endmacro %}

{% macro array(name, value, how="internal") %}
{{ name.upper() }}{% if "layered" in how %} LAYERED{% endif %}

{% if how == "constant" %}
CONSTANT {{ value.item() }}
{% elif how == "layered constant" %}
{% for layer in value -%}
CONSTANT {{ layer.item() }}
{%- endfor %}
{% elif how == "internal" %}
INTERNAL
{% for chunk in value|array_chunks -%}
{{ chunk|array2string }}
{%- endfor %}
{% elif how == "external" %}
OPEN/CLOSE {{ value }}
{% endif %}
{% endmacro %}

{% macro list(name, value) %}
{% for row in (value|data2list) %}
{{ inset ~ row|join(" ") }}
{% endfor %}
{% endmacro %}
