{% set inset = " " %}

{% macro field(name, value) %}
{% set type = value|field_type %}
{% if type in ['keyword', 'integer', 'double', 'string'] %}
{{ scalar(name, value) }}
{% elif type == 'record' %}
{{ record(value) }}
{% elif type == 'array' %}
{{ array(name, value, how=value|array_how) }}
{% elif type == 'list' %}
{{ list(value) }}
{% endif %}
{% endmacro %}

{% macro scalar(name, value) %}
{% set type = value|field_type %}
{% if value is not none %}{{ inset ~ name.upper() }}{% if type != 'keyword' %} {{ value }}{% endif %}{% endif %}
{% endmacro %}

{% macro record(value) %}
{{ inset ~ value|join(" ") -}}
{% endmacro %}

{% macro list(value) %}
{% for row in (value|data2list) %}
{{ record(row) }}{% if not loop.last %}{{ "\n" }}{% endif %}
{%- endfor %}
{% endmacro %}

{% macro array(name, value, how="internal") %}
{{ inset ~ name.upper() }}{% if "layered" in how %} LAYERED{% endif %}

{% if how == "constant" %}
{{ inset }}CONSTANT {{ value|array2const }}
{% elif how == "layered constant" %}
{% for layer in value -%}
{{ inset }}CONSTANT {{ layer|array2const }}
{%- endfor %}
{% elif how == "layered internal" %}
{% for layer in value %}

{{ inset }}INTERNAL
{% for chunk in layer|array2chunks -%}
{{ (2 * inset) ~ chunk|array2string }}
{%- endfor %}
{%- endfor %}
{% elif how == "internal" %}
{{ inset }}INTERNAL
{% for chunk in value|array2chunks -%}
{{ (2 * inset) ~ chunk|array2string }}
{%- endfor %}
{% elif how == "external" %}
OPEN/CLOSE {{ value }}
{% endif %}
{% endmacro %}
