{% import 'macros.jinja' as macros with context %}
{% for block_name, block_ in (dfn|dict_blocks).items() %}
BEGIN {{ block_name.upper() }}
{% for field in block_.values() if (field|field_value) is not none -%}
{{ macros.field(field) }}
{%- endfor %}
END {{ block_name.upper() }}

{% endfor %}

{% for block_name, block_ in (dfn|list_blocks).items() -%}
{{ macros.list(block_name, block_, stress=block_name == "period") }}
{%- endfor%}
