{% import 'macros.jinja' as macros with context %}
{% for block_name, block_ in (dfn|blocks).items() %}
BEGIN {{ block_name }}
{% for field in block_.values() -%}
{{ macros.field(field) }}
{%- endfor %}
END {{ block_name }}

{% endfor %}
