{% for block in blocks %}
BEGIN {{ block.name }} {% if block.index is not none %}{{ block.index }}{% endif %}
{% for field in block %}
{{ macros.field(field) }}
{% endfor %}
END {{ block.name }}

{% endfor %}
