{% macro field(field) %}
{% if field|kind == 'scalar' %}
{{ macros.scalar(field) }}
{% elif field|kind == 'union' %}
{{ macros.union(field) }}
{% elif field|kind == 'record' %}
{{ macros.record(field) }}
{% elif field|kind == 'array' %}
{{ macros.array(field) }}
{% elif field|kind == 'list' %}
{{ macros.list(field) }}
{% endif %}
{% endmacro %}

{% macro scalar(field) %}
{{ field.name }} {% endif %}{{ field.value }}
{% endmacro %}

{% macro union(field) %}
{% for item in field.value.items() %}
{{ macros.field(item) }}
{% endfor %}
{% endmacro %}

{% macro record(field) %}
{% for item in field.values() %}{% if item.tagged %}{{ item.name }} {% endif %}{{ macros.field(field) }}{%
endfor
%}
{% endmacro %}

{% macro array(field, how="internal") %}
{% if how == "layered constant" %}
{{ field.name }} LAYERED
{% for val in field.value %}
CONSTANT
{% endfor %}
{% elif how == "constant" %}
{{ field.name }} CONSTANT {{ field.value }}
{% elif how == "layered" %}
{% if layered %}
{{ field.name }}
{% for val in field.value %}{{ val }}{% endfor %}
{% elif how == "internal" %}
{{ field.name }} {{ macro.internal_array(field) }}
{% elif how == "external" %}
{{ field.name}} OPEN/CLOSE {{ field.value }}
{% endif %}
{% endmacro %}

{% macro internal_array(field) %}
{% for chunk in field.value|dask_expand %}
{{ chunk|nparray2string }}
{% endfor %}
{% endmacro %}

{% macro list(field) %}
{# TODO #}
{% endmacro %}
