{% macro field(f) %}
{% set type = f|field_type %}
{% if type in ['keyword', 'integer', 'double precision', 'string'] %}
{{ scalar(f) }}
{% elif type == 'record' %}
{{ record(f) }}
{% elif type == 'keystring' %}
{{ keystring(f) }}
{% elif type == 'recarray' %}
{{ recarray(f) }}
{% endif %}
{% endmacro %}

{% macro scalar(f) %}
{% set type = f|field_type %}
{% set value = f|field_value %}
{% if value is not none %}{{ f.name.upper() }}{% if type != 'keyword' %} {{ value }}{% endif %}{% endif %}
{% endmacro %}

{% macro keystring(f) %}
{% for item in f.children.values() -%}
{{ field(item) }}
{%- endfor %}
{% endmacro %}

{% macro record(f) %}
{% for item in f.children.values() -%}
{% if item.tagged %}{{ item.name.upper() }} {% endif %}{{ field(item) }}
{%- endfor %}
{% endmacro %}

{% macro recarray(f) %}
{% set value = f|field_value %}
{% if f.reader != 'readarray' %}
{{ list(f) }}
{% else %}
{{ array(f.name, value, how=f|array_how) }}
{% endif %}
{% endmacro %}

{% macro array(name, value, how="internal") %}
{{ name.upper() }}{% if "layered" in how %} LAYERED{% endif %}

{% if how == "constant" %}
CONSTANT {{ value.item() }}
{% elif how == "layered constant" %}
{% for layer in value -%}
CONSTANT {{ layer.item() }}
{%- endfor %}
{% elif how == "internal" %}
INTERNAL
{% for chunk in value|array_chunks -%}
{{ chunk|array2string }}
{%- endfor %}
{% elif how == "external" %}
OPEN/CLOSE {{ value }}
{% endif %}
{% endmacro %}

{% macro list(f) %}
{{ f }}
{% for item in f.children.values() %}
{{ field(item) }}
{% endfor %}
{% endmacro %}
