{% macro field(f) %}
{% set type = f|field_type %}
{% if type in ['keyword', 'integer', 'double precision', 'string'] %}
{{ scalar(f) }}
{% elif type == 'record' %}
{{ record(f) }}
{% elif type == 'keystring' %}
{{ keystring(f) }}
{% elif type == 'recarray' %}
{{ recarray(f, how=f|array_how) }}
{% endif %}
{% endmacro %}

{% macro scalar(f) %}
{% set type = f|field_type %}
{% set value = f|field_value %}
{% if value is not none %}{{ f.name.upper() }}{% if type != 'keyword' %} {{ value }}{% endif %}{% endif %}
{% endmacro %}

{% macro keystring(f) %}
{% for item in f.children.values() -%}
{{ field(item) }}
{%- endfor %}
{% endmacro %}

{% macro record(f) %}
{% for item in f.children.values() -%}
{% if item.tagged %}{{ item.name.upper() }} {% endif %}{{ field(item) }}
{%- endfor %}
{% endmacro %}

{% macro recarray(f, how="internal") %}
{% set name = f.name %}
{% set value = f|field_value %}
{{ name.upper() }}{% if "layered" in how %} LAYERED{% endif %}

{% if how == "constant" %}
CONSTANT {{ value.item() }}
{% elif how == "layered constant" %}
{% for layer in value -%}
CONSTANT {{ layer.item() }}
{%- endfor %}
{% elif how == "internal" %}
INTERNAL
{% for chunk in value|array_chunks -%}
{{ chunk|array2string }}
{%- endfor %}
{% elif how == "external" %}
OPEN/CLOSE {{ value }}
{% endif %}
{% endmacro %}

{% macro list(block_name, block) %}
{#
from mf6's perspective, a list block (e.g. period data)
always has just one variable, whose elements might be
records or unions. where we spin those out into arrays
for each individual leaf field to fit the xarray data
model, we have to combine them back here.

this macro receives the block definition. from that
it looks up the value of the one variable with the
same name as the block, which custom converter has
made sure exists in a sparse dict representation of
an array. we need to spin this out into a block for
each stress period.
#}
{% set dict = data[block_name] %}
{% for kper, value in dict.items() %}
BEGIN {{ block_name.upper() }} {{ kper }}
{% for line in value %}
{{ line|join(" ")|upper }}
{% endfor %}
END {{ block_name.upper() }} {{ kper }}

{% endfor %}
{% endmacro %}
